<% provide(:title, "You're Dead") %>
<div class="header">
    <h1>You're Dead!</h1>
    <!--<h2>the browser-based game where you strive to reach #peakindie</h2>-->
</div>

<div class="content">
    <p>
        Unfortunately, the life of a struggling musician has finally taken its toll on you. Your Buzz will be reset to 0 and you'll regain half your dignity. Be a
        little bit more careful next time, okay? Hey, at least FlyLo would be proud.
    </p>
</div>