<div class="header">
    <h1><%= @dungeon.name %></h1>
    <h2><%= @dungeon.description %></h2>
</div>
<div class="content">
	<h2 class="content-subhead"><%= @random_event.name %></h2>
	<p><%= @random_event.description %></p>
</div>