<% provide(:title, 'Sign Up') %>
<%= render 'layouts/header_blurb' %>

<div class="content">
    <h2 class="content-subhead">Sign Up</h2>
    <p>
        Create an account and embark on a perilous journey from the edges of obscurity to the front page of Pitchfork!
    </p>

    <%= render 'form' %>
</div>