<h1>New Dun Event</h1>

<%= render 'form' %>

<p>string is colon seperated pairs, seperated from each other by semicolons</p>
<p>types include hurt, heal, steal, fund, buzz</p>
<%= link_to 'Back', dun_events_path %>